@model List<GoTourWeb.Models.GeneralResultViewModel>
@{ ViewData["Title"] = "_SearchPrincipal";
}

<ul>

    @{
        if (Model != null && Model.Count() > 0) {
            foreach (var vItem in Model) {
                <li>
                    <label onclick="ClickSelectionList('@vItem.IdCityTour','@vItem.IdCity','@vItem.Ordering','@vItem.Url')">
                        <i class="@vItem.IconCityTour mr-3"></i>@vItem.NameCityTour
                    </label>
                </li>
            }
        }
    }

</ul>
