
@{
    ViewData["Title"] = "User Portal";

}

<!--navbar-->
@{
    await Html.RenderPartialAsync("_Navbar");
}
<!--end navbar-->
<div class="wrapper">
    <!--sidebar-->
    @{
        await Html.RenderPartialAsync("_Sidebar");
    }
    <!--end sidebar-->
    <!--page wrapper-->
    <main class="container-fluid">
        <!--Filter users-->
        <div class="row bg-purple-light pt-3 pb-4 px-4 align-items-end">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h5 class="font-weight-bold">Filtro</h5>
                    </div>
                </div>
            </div>
            <div class=" col-md-3">
                <label class="font-weight-bold" for="">Ciuidad</label>
                <select class="custom-select rounded">
                    <option selected>Seleccione</option>
                    <option value="1">Trujillo</option>
                    <option value="2">Arequipa</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="font-weight-bold" for="">Nacionalidad</label>
                <select class="custom-select rounded">
                    <option selected>Seleccione</option>
                    <option value="1">Argentina</option>
                    <option value="2">Perú</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="font-weight-bold" for="">Seleccione</label>
                <select class="custom-select rounded">
                    <option selected>Trujillo</option>
                    <option value="1">Otro</option>
                </select>
            </div>
            <div class="col-md-3">
                <label class="font-weight-bold" for="">Agencias</label>
                <select class="custom-select rounded">
                    <option selected>Todas</option>
                    <option value="1">Go Tour</option>
                </select>
            </div>
            <div class="col-md-2">
                <button class="my-3 my-md-0 btn btn-block btn-sm btn-orange">Buscar</button>
            </div>
        </div>
        <!--end filter users-->


        <div class="container-fuid pt-2 pb-4">
            <div class="p-md-4">
                <div class="form-custom rounded-normal bg-purple-dark py-4 p-4 px-md-5 px-3">
                    <a asp-controller="UserPortal" asp-action="AddUserPortal" class="btn btn-sm btn-orange my-2">Nuevo Usuario</a>

                    @Html.Partial("_TableUserPortal")
                    
                </div>
            </div>

        </div>
    </main>
    <!--end page wrapper-->
</div>
@section scripts {
    <script>
        
        $(document).ready(function () {

            $('#example').DataTable({
                "language": {
                    "url": "/lib/datatables/spanish.json"
                },
                "ajax": {
                    "url": "@Url.Action("GetData", "UserPortal")",
                    "type": "GET",
                    "async":"true",
                    "datatype": "json"
                },
                "columns": [
                    { "data": 'userName' },
                    { "data": 'firstName' },
                    {
                        "render": function (data, type, full) {
                            return full["firstLastName"] + ' ' + full['secondLastName'];
                        }
                    },
                    { "data": 'phone' },
                    { "data": 'companyName' },
                    {
                        "data": "state",
                        "render": function (data, type, full) {
                            if (data == 1) {
                                return '<span class="badge badge-success">Activo</span>';
                            }
                            else {
                                return '<span class="badge badge-danger">Inactivo</span>';
                            }
                        }
                    },                 
                    {
                        "targets": 6,
                        "data": 'id',
                        "render": function (data, type, full) {
                            var editButton = '<button class="btn btn-primary btn-sm" onclick="EditUser(this.id)" id=' + data + '><i class="fas fa-edit"></i></button>';
                            if (full["state"] == 1) {
                                return editButton + '<button onclick="ChangeState(this.id, '+ full["state"]+')" id=' + full["id"] +' type="button" class="btn btn-sm btn-danger mb-2"><i class="fas fa-minus-circle"></i></button>';
                            }
                            else {
                                return '<button  onclick="ChangeState(this.id,'+ full["state"] +')" id='+ full["id"] +' type="button" class="btn btn-sm btn-success mb-2"><i class="fas fa-plus-circle"></i></button>';
                            }
                        }

                    },
                     {
                        "targets": 7,
                        "data": 'id',
                         "render": function (data, type, full) {
                             if (full["state"] == 1) {
                                 return '<button class="btn btn-primary btn-sm" onclick="Details(this.id)" id=' + data + '><i class="fas fa-info-circle"></i></button>';
                             }
                             return null;
                        }

                    }
                ],
                //rowCallback: function (row, data, index) {
                //    if (data.state == 1) {
                //        $("#h").addClass("bg-primary");
                //    }
                //}
              
            });
        });
        function EditUser(Id) {
            var Id = Id;
            $.ajax({
                type: "POST",
                url: "/UserPortal/GetDataUserPortal",
                Datatype: 'json',
                async: true,
                data: { valId: Id },
                success: function (response) {
                    if (response.content == "True") {
                        window.location.href = '@Url.Action("Edit", "UserPortal")';
                    } else if (response.content == "False") {
                        window.location.href = '@Url.Action("Error", "Home")';
                    }
                    
                },
                error: function (xhr) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }

            });
        }
           
        function ChangeState(Id, State) {
           
            var Id = Id;
            var State= State;
            $.ajax({
                url: "/UserPortal/ChangeState",
                type: "POST",
                data: { valId: Id , valState:State},
                DataType: "json",
                async: true,
                success: function (response) {
                    if (response.content == "1" && response.state == "1") {
                        Swal.fire(
                            'Usuario Desactivado',
                            '',
                            'success'
                        ).then(function () {
                            $('#example').DataTable().ajax.reload();
                        });
                    }
                    else if (response.content == "1" && response.state == "0") {
                        Swal.fire(
                            'Usuario Activado',
                            '',
                            'success'
                        ).then(function () {
                            $('#example').DataTable().ajax.reload();
                        });
                    }
                    else if (response.content == "3" || response.content =="4") {
                           Swal.fire(
                            'No se puedo actualizar estado de usuario',
                            '',
                            'error'
                        )
                    }
                },
                error: function (xhr) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }

            });
        }
        function Details(Id) {
             $.ajax({
                type: "POST",
                url: "/UserPortal/GetDataUserPortal",
                Datatype: 'json',
                async: true,
                data: { valId: Id},
                success: function (response) {
                    if (response.content == "True") {
                        window.location.href = '@Url.Action("Detail", "UserPortal")';
                    } else if (response.content == "False") {
                        window.location.href = '@Url.Action("Error", "Home")';
                    }
                    
                },
                error: function (xhr) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }

            });
        }
    </script>}